$amber: #FFC107;
$yellow: #FFEB3B;
$orange: #FF9800;
$light-green: #8BC34A;
$green: #558B2F;
$light-blue: #03A9F4;
$deep-purple: #673AB7;
$indigo: #303F9F;
$purple: #9C27B0;
$red: #F44336;
$cranberry: #E91E63;
$olive: #827717;
$brown: #795548;
$blue-gray: #37474f;
$bone: #c8c8c8;
$pink: #F48FB1;