$amber: #FFC107;
$yellow: #FFEB3B;
$orange: #FF9800;
$light-green: #8BC34A;
$green: #558B2F;
$light-blue: #03A9F4;
$deep-purple: #673AB7;
$indigo: #303F9F;
$purple: #9C27B0;
$red: #F44336;
$cranberry: #E91E63;
$olive: #827717;
$brown: #795548;
$blue-gray: #37474f;
$bone: #c8c8c8;
$pink: #F48FB1;


$turquoise: #1abc9c;
$emerland: #2ecc71;
$greensea: #16a085;
$nephritis: #27ae60;
$river: #3498db;
$amethyst: #9b59b6;
$ashphalt: #34495e;
$waterhole: #2980b9;
$wisteria: #8e44ad;
$midnight-blue: #2c3e50;
$sunflower: #f1c40f;
$carrot: #e67e22;
$salmon: #e74c3c;
$concrete: #95a5a6;
$asbestos: #7f8c8d;
$silver: #bdc3c7;
$orange: #f39c12;
$pumpkin: #d35400;
$pomegranate: #c0392b;
$ghost: #ecf0f1;