@import 'colors';
div#notebook {
  border-top: none;
  background-color: #f5f5f5;
}
#notebook-container {
  background-color: #f5f5f5;
}
div#header-container {
  display: none;
}
div.cell {
  background-color: transparent !important;
}
.panel, .panel-header, .panel-body, .list-group {
  background-color: transparent;
  padding-left: 0;
  margin-left: 0;
}
.list-group-item {
  padding-left: 1em;
  background-color: transparent;
}
.panel p {
  padding-left: 1em;
  color: rgba(0, 0, 0, 0.9);
}
.list-group-item-text span a {
  color: #E91E63;
  text-decoration: none !important;
  box-shadow: 0 0 5px 1px rgba(235, 235, 235, 0.5);
  background-color: rgb(248, 248, 248);
  padding: 0.3em 0.5em;
  margin: 0.5em;
  border-radius: 3px;
  font-size: 0.8em;
}
p {
  padding-left: 2em;
  color: rgba(0, 0, 0, 0.9);
}
strong {
  font-weight: 700 !important;
  color: black !important;
}
a {
  color: #0D47A1;
}
.page-header {
  padding-left: 2em;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  border: none;
}
h1 {
  color: #2196f4;
  padding-top: 0;
  padding-bottom: 0;
  font-weight: bold;
}
h3 {
  color: #1976D2;
  padding-top: 0;
  padding-bottom: 0;
  font-weight: bold;
}
h5 {
  color: #303F9F;
  font-style: normal !important;
  font-weight: bold;
  padding-top: 0;
  padding-bottom: 0;
}
h5 small {
  padding-left: 2em;
}
div.cell.code_cell.rendered {
  padding-left: 2em;
}
div.cell.code_cell.rendered .input_area {
  box-shadow: 0 0 5px 1px rgba(235, 235, 235, 0.5);
  border: none !important;
  background-color: rgb(40, 40, 40) !important;

}
.method {
  color: #E91E63;
  font-style: italic;
}
.code {
  color: #8b897b;
  font-size: 1.1em;
}
.math {
  font-size: 1.1em;
  color: #777;
}
div.cell.code_cell.rendered span.cm-comment, span.c1 {
  color: #37474f;
}
div.cell.code_cell.rendered span.cm-keyword, span.k {
  color: #4CAF50;
}
div.cell.code_cell.rendered span.cm-bracket, span.cm-atom {
  color: #795548 !important;
}
div.cell.code_cell.rendered {
  color: #795548 !important;
}
div.cell.code_cell.rendered span.cm-operator, span.o {
  color: $orange;
}
div.cell.code_cell.rendered span.cm-number, span.mi {
  color: #827717;
  font-weight: bold;
}
div.cell.code_cell.rendered span.cm-string, span.s1 {
  color: #8B897B;
}
div.cell.code_cell.rendered span.s2 {
  color: darken(#8b897b, 5%);
}
div.cell.code_cell.rendered span.cm-variable {
  color: rgb(200, 200, 200);
}
div.cell.code_cell.rendered span.cm-variable-2 {
  color: #F50057;
  font-weight: bolder;
}
div.cell.code_cell.rendered span.cm-builtin, span.nb {
  color: #03A9F4;
}
div.cell.code_cell.rendered span.cm-property {
  color: #304FFE;
}
div.cell.code_cell.rendered span.cm-attribute {
  color: #673AB7;
}
div.cell.code_cell.rendered span.cm-def, span.nf {
  color: #FFC107;
}
div.cell.code_cell.rendered span.cm-meta {
  color: #9C27B0;
}
span.CodeMirror-matchingbracket {
  color: rgba(255, 255, 255, 0.75) !important;
}
div.prompt.input_prompt, div.prompt.output_prompt {
  display: none !important;
}
.highlight .n { color: $bone; }
.highlight .p { color: black; }
.highlight .hll { background-color: #ffffcc }
.highlight  { background: #f8f8f8; }
.highlight .c { color: $blue-gray; font-style: italic } /* Comment */
.highlight .err { border: 1px solid $red } /* Error */
.highlight .k { color: $green; font-weight: bold } /* Keyword */
.highlight .o { color: $olive } /* Operator */
.highlight .ch { color: lighten($blue-gray, 5%); font-style: italic } /* Comment.Hashbang */
.highlight .cm { color: $blue-gray; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: $blue-gray } /* Comment.Preproc */
.highlight .cpf { color: $blue-gray; font-style: italic } /* Comment.PreprocFile */
.highlight .c1 { color: $blue-gray; font-style: italic } /* Comment.Single */
.highlight .cs { color: $blue-gray; font-style: italic } /* Comment.Special */
.highlight .gd { color: #A00000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: $red } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00A000 } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: $olive; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: $purple; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #0044DD } /* Generic.Traceback */
.highlight .kc { color: $green; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: $green; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: $green; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: $green } /* Keyword.Pseudo */
.highlight .kr { color: $light-green; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: $light-green } /* Keyword.Type */
.highlight .m { color: $indigo } /* Literal.Number */
.highlight .s { color: $brown } /* Literal.String */
.highlight .na { color: $amber } /* Name.Attribute */
.highlight .nb { color: $cranberry} /* Name.Builtin */
.highlight .nc { color: $amber; font-weight: bold } /* Name.Class */
.highlight .no { color: $yellow } /* Name.Constant */
.highlight .nd { color: $pink } /* Name.Decorator */
.highlight .ni { color: $olive; font-weight: bold } /* Name.Entity */
.highlight .ne { color: $red; font-weight: bold } /* Name.Exception */
.highlight .nf { color: darken($orange, 10%) } /* Name.Function */
.highlight .nl { color: $orange } /* Name.Label */
.highlight .nn { color: $indigo; font-weight: bold } /* Name.Namespace */
.highlight .nt { color: $indigo; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #19177C } /* Name.Variable */
.highlight .ow { color: $green; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mb { color: $purple } /* Literal.Number.Bin */
.highlight .mf { color: $deep-purple } /* Literal.Number.Float */
.highlight .mh { color: $purple} /* Literal.Number.Hex */
.highlight .mi { color: $indigo } /* Literal.Number.Integer */
.highlight .mo { color: $purple } /* Literal.Number.Oct */
.highlight .sb { color: mix($brown, $olive) } /* Literal.String.Backtick */
.highlight .sc { color: $olive } /* Literal.String.Char */
.highlight .sd { color: $brown; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: $brown; } /* Literal.String.Double */
.highlight .se { color: $brown; font-weight: bold } /* Literal.String.Escape */
.highlight .sh { color: $brown } /* Literal.String.Heredoc */
.highlight .si { color: mix($brown, $green); font-weight: bold } /* Literal.String.Interpol */
.highlight .sx { color: $brown } /* Literal.String.Other */
.highlight .sr { color: $pink } /* Literal.String.Regex */
.highlight .s1 { color: $brown } /* Literal.String.Single */
.highlight .ss { color: $olive } /* Literal.String.Symbol */
.highlight .bp { color: darken($green, 10%) } /* Name.Builtin.Pseudo */
.highlight .vc { color: $amber; font-weight: bold } /* Name.Variable.Class */
.highlight .vg { color: $olive } /* Name.Variable.Global */
.highlight .vi { color: lighten($bone, 10%) } /* Name.Variable.Instance */
.highlight .il { color: $purple } /* Literal.Number.Integer.Long */